{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "output": {
    "format": "cjs",
    "minify": true,
    "outdir": "dist",
    "sourcemap": true
  }
}
